body {
  font-family: Arial, sans-serif;
  background-color: #778899;
  margin: 0;
  padding: 0;
  color: #333;
}
h2 {
  margin-left: 20px;
}

nav {
  margin-bottom: 30px;
  background-color: #5f9ea0;
  padding: 10px 20px;
  text-align: left;
}
nav a {
  color: white;
  margin: 0 15px;
  font-weight: bold;
  text-decoration: none;
}
nav button {
  background-color: #800000;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 30px;
}
label,
form a {
  margin-top: 10px;
  font-weight: bold;
}
input,
select,
textarea,
button {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}
button {
  background-color: #800000;
  color: white;
  border: none;
  cursor: pointer;
}

#filters,
#sort {
  display: flex;
  gap: 10px;
  margin: 20px;
  flex-wrap: wrap;
}
#filters button,
#sort button {
  padding: 5px 10px;
  background-color: #5f9ea0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#filters button:hover,
#sort button:hover {
  background-color: #4a8284;
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: flex-start;
}
.attendee-card {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.attendee-card p {
  margin: 3px 0;
}
.attendee-card button {
  margin-top: 5px;
  font-size: 12px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
}
.page .card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.page .card h2 {
  color: #333;
}

.hero-img {
  display: block;
  max-width: 50%;
  height: auto;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.event-info {
  text-align: center;
  padding: 20px;
}

.event-info h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #2c3e50;
}

.event-info p {
  font-size: 1.2em;
  margin: 5px 0;
}
